# Compiled Object files
*.slo
*.lo
*.o
*.gch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build
*~
.*.sw[po]

mdp_mdpc
mdp_mdpl
mdp_mdps
mdp_mdpw
mdpc
mdpl
mdps
mdpw
matrix_test

*.pyc
.ycm_extra_conf.*
.DS_Store
data
solutions
genomes
.libs
.dub
*.dSYM
