# Compiled Object files
*.slo
*.lo
*.o
*.gch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build
*~
.*.sw[po]

mdpc
mdpl
mdps
mdpw

*.pyc
.ycm_extra_conf.*
.DS_Store
data
solutions
genomes
